/* body{
	color:  #55ff00;
	background-color:  	#91b09d;
}
.ayy {
	
	-webkit-column-count: 3; 
    -moz-column-count: 3 ;
	column: 3; 
  
} */
img
{
    width:  200px;
    height: 200px;
	border-radius: 50%; 
	
} 
/*
h1 
{
	text-align: center;
	height: 10px;
}

a:visited {
	color: #9900cc;
}*/
p{
	
	font-size: 64; 
	color: #225149; 
}
 
